@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import 'colors';
@import 'mixins';
@import 'header';
@import 'main';
@import 'whycrappo';
@import 'tradesecurely';
@import 'features';
@import 'startmining';
@import 'footer';

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
    color: $font-color;
    font-family: 'Rubik', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 600px 620px auto auto auto auto;
    overflow-x: hidden;
}

