.features 
    .features__heading 
        h2 Market sentiments, portfolio, and run#[br]the infrastructure of your choice
    .features__content 
        .features__content__invest-smart 
                .features__content__invest-smart__content-card 
                    h3 Invest Smart
                    p Get full statistic information about the behaviour of#[br]buyers and sellers will help you to make the decision. 
                    button Learn More 
                .features__content__invest-smart__illustration-card 
                    img(src="imgs/invest-card.png", alt="invest")
        .features__content__statistics 
                .features__content__statistics__illustration-card 
                    img(src="imgs/statistics-card.png", alt="detailed statistics")
                .features__content__statistics__content-card  
                    h3 Detailed Statistics
                    p View all mining related information in realtime, at any#[br]point at any location and decide which polls you want#[br]to mine in. 
                    button Learn More  
        .features__content__grow-profit 
                .features__content__grow-profit__content-card 
                    h3 Grow your profit and track your investments
                    p Use advanced analytical tools. Clear TradingView#[br]charts let you track current and historical profit#[br]investments. 
                    button Learn More
                .features__content__grow-profit__illustration-card 
                    img(src="imgs/grow.png", alt="grow profits")