.footer
    .footer__navigation
        .footer__navigation__logo 
            img(src="imgs/Logo.png", alt="Logo")   
        .footer__navigation__quick-links 
            h4 Quick Links
            ul    
                li Home
                li Products
                li About
                li Features
                li Contact 
        .footer__navigation__Resources 
            h4 Resources
            ul    
                li Download Whitepapper
                li Smart Token
                li Blockchain Explorer
                li Crypto API 
                li Interest
        .footer__navigation__payment
            .footer__navigation__payment__heading
                h4 We accept following payment systems
            .footer__navigation__payment__methods 
                .footer__navigation__payment__visa
                    img(src="imgs/visa.png", alt="visa")
                .footer__navigation__payment__master-card
                    img(src="imgs/mastercard.png", alt="mastercard")
                .footer__navigation__payment__bitcoin
                    img(src="imgs/bitcoin-pay.png", alt="bitcoin")                        
    .footer__bottom-bar 
        .footer__bottom-bar__copy 
            span ©2021 CRAPPO. All rights reserved
        .footer__bottom-bar__social 
            .facebook 
                img(src="imgs/facebook.png", alt="facebook")   
            .instagram 
                img(src="imgs/instagram.png", alt="instagram")   
            .youtube 
                img(src="imgs/youtube.png", alt="youtube")   
            .twitter 
                img(src="imgs/twitter.png", alt="twitter")   
            .linkedin
                img(src="imgs/linkedin.png", alt="linkedin")