.header 
    .header__logo 
        img(src="imgs/logo.png", alt="CRAPPO")
    .header__nav
        .header__nav__menu
            ul    
                li Products
                li Features
                li About
                li Contact
        .header__nav__sign-in         
            button.login Login 
            button.register Register