.header#header
    .header__logo.hidden
        img(src="imgs/logo.png", alt="CRAPPO")
    .header__nav
        .header__nav__menu.hidden
            ul    
                li Products
                li Features
                li About
                li Contact
        .header__nav__sign-in.hidden         
            button.login Login 
            button.register Register