doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Kengerli
        link(rel="stylesheet", href="style/style.css")
    body
        // BEGIN HEADER
        include header
        // END HEADER
        // BEGIN MAIN
        include main
        // END MAIN
        // BEGIN WHY-CRAPPO
        include whycrappo
        // END WHY-CRAPPO
        // BEGIN TRADE-SECURELY
        include tradesecurely
        // END TRADE-SECURELY
        // BEGIN FEATURES
        include features
        // END FEATURES
        // BEGIN START-MINING
        include startmining
        // END START-MINING
        // BEGIN FOOTER
        include footer
        // END FOOTER 

    script(src="scripts/anime.min.js") 
    script(src="scripts/main.js") 