.main
    .main__value 
        .main__value__info 
            .main__value__info__text
                span.main__value__info__text__save 75% SAVE
                span.main__value__info__text__for For the Black Friday weekend 
        .main__value__heading 
            h1 Fastest & secure#[br]platform to invest in#[br]crypto
        .main__value__paragraph 
            p Buy and sell cryptocurrencies, trusted by 10M wallets#[br]with over $30 billion in transactions.
        .main__value__try 
            .main__value__try__button
                span Try For FREE 
                .main__value__try__button__circle
                    img(src="imgs/chevron-right.svg", alt="chevron-right")
    .main__illustration  
        .main__illustration__image 
            img(src="imgs/bitcoin.png", alt="bitcoin")