.start-mining 
    .start-mining__card 
        img(src="imgs/B-logo.png", alt="")
        .start-mining__card__content 
            h3 Start mining now
            p Join now with CRAPPO to get the latest news#[br]and start mining now
        .start-mining__card__subscribe 
            input(type="text" placeholder="Enter your email")
            button Subscribe 