.trade-securely
    .trade-securely__earnings
        .trade-securely__earnings__card.hidden
            h2 Check how much you can earn
            p Let’s check your hash rate to see how much you will earn today,#[br]Exercitation veniam consequat sunt nostrud amet.
    .trade-securely__revenue-calculator
        .trade-securely__revenue-calculator__card.hidden
            .trade-securely__revenue-calculator__card__input 
                input(type="text" placeholder="Enter your hash rate")
                select
                    option TH/s
                button Calculate 
            .trade-securely__revenue-calculator__card__estimation
                .trade-securely__revenue-calculator__card__estimation__title ESTIMATED 24 HOUR REVENUE: 
                .trade-securely__revenue-calculator__card__estimation__result 
                    span.eth 0.055 130 59 ETH 
                    span.dollar  ($1275)
                .trade-securely__revenue-calculator__card__estimation__note Revenue will change based on mining difficulty and Ethereum price. 
    .trade-securely__crypto-currencies
        .trade-securely__crypto-currencies__title.hidden
            h2 Trade securely and market the high#[br]growth cryptocurrencies.
        .trade-securely__crypto-currencies__cards.hidden
            .trade-securely__crypto-currencies__cards__card--one
                .trade-securely__crypto-currencies__cards__card--one__logo 
                    img(src="imgs/logos_bitcoin.png", alt="bitcoin")
                .trade-securely__crypto-currencies__cards__card--one__name 
                    span.trade-securely__crypto-currencies__cards__card--one__name--primary Bitcoin 
                    span.trade-securely__crypto-currencies__cards__card--one__name--secondary BTC 
                .trade-securely__crypto-currencies__cards__card--one__description 
                    span Digital currency in which a record of transactions is maintained.
                .trade-securely__crypto-currencies__cards__card--one__button 
                    span Start mining
                    .trade-securely__crypto-currencies__cards__card--one__button__circle
                        img(src="imgs/chevron-right.svg", alt="chevron-right")
            .trade-securely__crypto-currencies__cards__card--two
                .trade-securely__crypto-currencies__cards__card--two__logo 
                    img(src="imgs/logos_euthereum.png", alt="bitcoin")
                .trade-securely__crypto-currencies__cards__card--two__name 
                    span.trade-securely__crypto-currencies__cards__card--two__name--primary Ethereum 
                    span.trade-securely__crypto-currencies__cards__card--two__name--secondary ETH 
                .trade-securely__crypto-currencies__cards__card--two__description 
                    span Blockchain technology to create and run decentralized digital applications.
                .trade-securely__crypto-currencies__cards__card--two__button--two 
                    .trade-securely__crypto-currencies__cards__card--two__button--two__circle
                        img(src="imgs/chevron-right.svg", alt="chevron-right")
            .trade-securely__crypto-currencies__cards__card--three
                .trade-securely__crypto-currencies__cards__card--three__logo 
                    img(src="imgs/logos_litecoin.png", alt="bitcoin")
                .trade-securely__crypto-currencies__cards__card--three__name 
                    span.trade-securely__crypto-currencies__cards__card--three__name--primary Litecoin 
                    span.trade-securely__crypto-currencies__cards__card--three__name--secondary LTC 
                .trade-securely__crypto-currencies__cards__card--three__description 
                    span Cryptocurrency that enables instant payments to anyone in the world.
                .trade-securely__crypto-currencies__cards__card--three__button--three 
                    .trade-securely__crypto-currencies__cards__card--three__button--three__circle
                        img(src="imgs/chevron-right.svg", alt="chevron-right")